<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-light col-sm-12" (click)="mostrarGraficos()">
                    <span><i class="fa fa-grav" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="_showGraphics == false">
            <div class="col">
                <ax-bs-datatable #dtUsers [columns]="dtColumns" [actionButtonShowFilter]="true"
                    [dataGetterFn]="dtGetterFn.bind(this)" [newItemType]="_dummyNewItemType.inlineTop"
                    [actionButtons]="dtColumnsActionButtons">
                </ax-bs-datatable>
            </div>
        </div>
        <div class="row" *ngIf="_showGraphics == true">
            <div class="col">
                <form>
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas baseChart class="chart" [datasets]="_chartData" [labels]="_labels"
                                [options]="_options" [colors]="_colours" [legend]="_chartLegend"
                                [chartType]="_chartType" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>