<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row">
                        <!--Select ID -->
                        <label class="col-form-label col-sm-12 " #lblIdTask for="ID">{{'PAGES.MAIN.TASKS.ITEM.ID'
                            | translate}}:
                        </label>
                        <div class="col-sm-12">
                            <input type="text" autocomplete="off" class="form-control form-control-sm"
                                [id]="lblIdTask.getAttribute('for')" [name]="lblIdTask.getAttribute('for')"
                                [(ngModel)]="_item.id" [disabled]="_isLoading" [required]="true">
                                <ax-array-translator class="invalid-feedback d-block"
                                [(labels)]="_serverSideError[lblIdTask.getAttribute('for')]">
                                </ax-array-translator>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row">
                        <!-- Select Name -->
                        <label class="col-form-label col-sm-12" #lblNameTask
                            for="NAME">{{'PAGES.MAIN.TASKS.ITEM.NAME' | translate}}:</label>
                        <div class="col-sm-12">
                            <input type="text" autocomplete="off"
                                placeholder="{{'PAGES.MAIN.TASKS.ITEM.NAME' | translate}}"
                                class="form-control form-control-sm" [id]="lblNameTask.getAttribute('for')"
                                [name]="lblNameTask.getAttribute('for')" [(ngModel)]="_item.name"
                                [disabled]="_isLoading" [required]="true">
                                <ax-array-translator class="invalid-feedback d-block"
                                [(labels)]="_serverSideError[lblNameTask.getAttribute('for')]">
                                </ax-array-translator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm 12 col-md-6">
                    <div class="form-group row">
                        <!-- Select Comment-->
                        <label class="col-form-label col-sm-12" #lblCommentTask
                            for="COMEMENT">{{'PAGES.MAIN.TASKS.ITEM.COMMENTS' | translate}}:</label>
                        <div class="col-sm-12">
                            <input type="text" autocomplete="off"
                                placeholder="{{'PAGES.MAIN.TASKS.ITEM.COMMENTS' | translate}}"
                                class="form-control form-control-sm" [id]="lblCommentTask.getAttribute('for')"
                                [name]="lblCommentTask.getAttribute('for')" [(ngModel)]="_item.comement"
                                [disabled]="_isLoading" [required]="true">
                                <ax-array-translator class="invalid-feedback d-block"
                                [(labels)]="_serverSideError[lblCommentTask.getAttribute('for')]">
                                </ax-array-translator>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row">
                        <!-- Select Hours-->
                        <label class="col-form-label col-sm-12" #lblHoursTask
                            for="ESTIMATEDHOURS">{{'PAGES.MAIN.TASKS.ITEM.ESTIMATED_HOURS' |
                            translate}}:</label>
                        <div class="col-sm-12">
                            <input type="text" autocomplete="off" class="form-control form-control-sm"
                                [id]="lblHoursTask.getAttribute('for')" [name]="lblHoursTask.getAttribute('for')"
                                [(ngModel)]="_item.estimatedHours" [disabled]="_isLoading" [required]="true">
                                <ax-array-translator class="invalid-feedback d-block"
                                [(labels)]="_serverSideError[lblHoursTask.getAttribute('for')]">
                                </ax-array-translator>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col clearfix">
                <button type="button" class="btn btn-primary m-1 float-right" (click)="saveForm()">
                    <i class="fa fa-floppy-o"></i>
                    <span class="p-2">{{'BUTTON.CREATE' | translate}}</span>
                </button>
                <button type="reset" class="btn btn-secondary m-1 float-right" (click)="goBack()">
                    <i class="fa fa-angle-left"></i>
                    <span class="p-2">{{'BUTTON.BACK' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>