<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-6">
                <ax-bs-datatable #dtPlayers [columns]="dtColumns" [actionButtonShowFilter]="true"
                    [dataGetterFn]="dtGetterFn.bind(this)" [newItemType]="_dummyNewItemType.inlineTop"
                    [actionButtons]="dtColumnsActionButtons">
                </ax-bs-datatable>
            </div>
            <div class="col-sm-6">
                <ax-bs-datatable #dtTeams [columns]="dtColumnsTeam" [actionButtonShowFilter]="true"
                    [dataGetterFn]="dtGetterFnTeam.bind(this)" [newItemType]="_dummyNewItemType.inlineTop"
                    [actionButtons]="dtColumnsActionButtons">
                </ax-bs-datatable>
            </div>
        </div>
    </div>
</div>